#page-list {
    background: linear-gradient(315deg, #aa0d0d, #d10505);
}

.header{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 100vw;
    height: 150px;

    background-color: #fff;
    position: fixed;
    top: 0;

    border-bottom: 20px solid rgb(26, 26, 26);

    z-index: 3;
}

.header,
.header button{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.493);
}

.header h1{
    margin-left: 10%;
    font-size: 4rem;
    font-weight: 700;
}

.header button.voltar{
    outline: none;
    background-color: #fff;
    
    border: 20px solid rgb(26, 26, 26);
    border-radius: 50%;

    margin-left: 5%;

    height: 150px;
    width: 150px;

    position: absolute;
    top: 60px;
    right: 100px;

    font-size: 25px;

    cursor: pointer;

    transition: .5s;
}

.header button.voltar:hover{
    background-color: rgb(252, 255, 53);
    animation: rotate .5s ease;
}


.prev::after{
    content: '⏪';
    font-size: 62px;
    cursor: pointer;
}

.next::after{
    content: '⏩';
    font-size: 62px;
    cursor: pointer;
}

.controler{
    position: fixed;
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: space-between;
    width: 100%;
    top: 200px;
    padding: 0 15px;
    z-index: 1;
}

.controler button{
    outline: none;
    background: none;
    border: none;
}

.prev:active,
.next:active{
    animation: click .2s linear;
}

.noPrev::after{
    display: none;
}
.noNext{
    display: none;
}

.controler-phone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);

    z-index: 4;
}

.controler-phone .prev,
.controler-phone .next{
    border: 2px solid #fff;
    text-align: center;
    height: 100%;
    width: 100%;
}
.controler-phone .prev::after,
.controler-phone .next::after{
    font-size: 32px;
}

@media (min-width: 1150px){
    .controler-phone{
        display: none;
    }
}
@media (max-width: 1150px){
    .controler{
        display: none;
    }
}

@keyframes click{
    0%{transform: scale(1)}
    50%{transform: scale(0.8)}
    100%{transform: scale(1)}
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(15deg);}
    50%{transform: rotate(-20deg);}
    75%{transform: rotate(0deg);}
}

.list{
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    z-index: 2;
}


@media (max-width: 980px){
    .header{
        font-size: 16px;

        border-bottom: 20px solid rgb(26, 26, 26);
    }

    .header button.voltar{
        border: 20px solid rgb(26, 26, 26);
        top: 70px;

        height: 130px;
        width: 130px;

        font-size: 20px;
    }
}

@media (max-width: 680px){
    .header{
        font-size: 16px;
    }

    .header{
        border-bottom: 10px solid rgb(26, 26, 26);
    }
    
    .header button.voltar{
        border: 10px solid rgb(26, 26, 26);
        top: 100px;
        right: 50px;

        height: 80px;
        width: 80px;

        font-size: 16px;
    }
}

@media (max-width: 320px){
    .header button.voltar{
        top: 150px
    }

    .header{
        flex-direction: row;
        justify-content: space-between;
        height: 200px;

        border-bottom: 10px solid rgb(26, 26, 26);
    }
}



