.pokedex{
    height: 150px;
    position: absolute;
    margin-bottom: 25px;
}

.pokedex:hover{
    filter: contrast(1.5);
    transition: .5s;
}

.title{
    margin-bottom: 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;
}
