.pokedex{
    height: min(30vw, 150px);
    position: absolute;
    margin-bottom: 25px;
}

.pokedex:hover{
    filter: contrast(1.5);
    transition: .5s;
    animation: pulse .5s infinite;
}

@keyframes pulse {
    0%{transform: translate(0, 0)}
    50%{transform: translate(0, -5px)}
    100%{transform: translate(0, 0)}
}


.pokedex:hover::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;


}

.title{
    margin-bottom: 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 150px;
}
